/* --------------------* NAVBAR *-------------------- */

.link-active{
  color: green;
  font-weight: 600;
  text-decoration: underline;
}

/* --------------------* PAGES CONTEXT *-------------------- */

.firstContext{
  border: 2px solid blue;
  padding: 20px;
  line-height: 10px;
}

.exampleBox{
  border: 1px solid blue;
  margin-bottom: 5px;
}

span{
  background-color: rgb(214, 237, 44);
}

/* --------------------* XXXXX *-------------------- */
